.vs/E2E/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
.vs/E2E/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
.vs/E2E/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
.vs/E2E/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
.vs/E2E/FileContentIndex/282ea2b7-15a1-438a-9bc2-bc4f3cb047cb.vsidx
.vs/E2E/FileContentIndex/877fcafc-05e8-4f14-9b0f-42cff3930294.vsidx
.vs/E2E/FileContentIndex/282ea2b7-15a1-438a-9bc2-bc4f3cb047cb.vsidx
.vs/E2E/FileContentIndex/8d6f9f05-57b6-4c3b-b90f-a3b6ce0614e1.vsidx
.vs/E2E/FileContentIndex/282ea2b7-15a1-438a-9bc2-bc4f3cb047cb.vsidx
.vs/E2E/FileContentIndex/8dd2cce3-afb7-448b-91d6-873f2e528235.vsidx
.vs/E2E/FileContentIndex/c4b65288-bb39-41ec-9f31-13b056627998.vsidx
E2E2/obj/Debug/net8.0/E2E.AssemblyInfo.cs
E2E2/obj/Debug/net8.0/E2E.AssemblyInfoInputs.cache
.vs/E2E/CopilotIndices/17.14.1204.46620/CodeChunks.db
.vs/E2E/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
.vs/E2E/DesignTimeBuild/.dtbcache.v2
.vs/E2E/v17/.futdcache.v2
.vs/E2E/v17/.suo
.vs/ProjectEvaluation/e2e.metadata.v9.bin
.vs/ProjectEvaluation/e2e.projects.v9.bin
/.vs
/.vs
.vs/E2E/CopilotIndices/17.14.1204.46620/CodeChunks.db
.vs/E2E/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
.vs/E2E/v17/.suo
